---
---

$pink: #EA21AA
$image-background: #0C3658
$yellow: #FFF004

@mixin build-bandeau($color)
  padding: 100px 0
  &:before
    top: 0
    left: 50%
    transform: translateX(-50%)
    display: block
    content: ''
    position: absolute
    height: 100%
    width: 120px
    z-index: 8
    background: $color

  img
    position: relative
    z-index: 9

body
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter"

h1, h2, h3, h4, h5
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif

a
  color: black
  &:hover
    color: $pink

.header
  background: white
  -webkit-transition: all 0.1s ease
  -webkit-transform: translate3d(0,0,0)
  transition: all 0.1s ease
  overflow: hidden

  .kco
    font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif
    font-size: 6.25rem
    // margin-left: 5rem
    -webkit-transition: all 0.2s ease
    -webkit-transform: translate3d(0,0,0)
    transition: all 0.2s ease

    &.shrink
      font-size: 2.25rem

  .nav-item
    &.active
      .nav-link
        color: $pink

    .nav-link
      font-size: 1.5rem

.bandeau
  @include build-bandeau($pink)

.yellow-bandeau
  @include build-bandeau($yellow)

#central-grid
  margin-top: 50px
  h5
    font-size: 2.25rem

#posts
  #images
    background-color: $image-background
    padding-top: 6rem !important
    padding-bottom: 2rem !important

    .card-item
      margin-bottom: 80px

footer
  height: 100px

@media only screen and (max-width: 900px)
  #central-grid
    .card-item
      width: 100%

  #posts
    .post-text
      padding-left: 0.5rem !important
      padding-left: 0.5rem !important

    .card-item
      width: 100%

@media only screen and (min-width: 900px) and (max-width: 1200px)
  #central-grid
    .card-item
      width: 49%
  #posts
    .post-text
      padding-left: 0.5rem !important
      padding-left: 0.5rem !important
    .card-item
      width: 40%

@media only screen and (min-width: 1200px)
  #central-grid
    .card-item
      width: 32%
  #posts
    .images-masonry
      padding-left: 75px
    .card-item
      width: 40%
