---
layout: main
title: Home
---

<div class="row">
  <div class="col-sm-12">
    <img class="img-fluid w-100" src="/images/main.jpg">
  </div>
</div>

<div class="row">

  <div class="col-sm-10 offset-sm-1">
    <div id="central-grid" class="card-columns">

      {% for card in site.data.home_grid %}
        <div class="card">
          {% assign post = site.posts | where: "title", card.title | first %}

          {% assign image = post.images | first %}

          <a href="{{post.url}}" class="card-link">
            {% if card.image %}
              <img src="/images{{ card.image }}" class="card-img-top img-fluid">
            {% else %}
              <img src="/images{{ image }}" class="card-img-top img-fluid">
            {% endif %}
          </a>

          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.excerpt }}</p>
            <a href="{{post.url}}" class="card-link btn btn-light">Lire plus</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>