<div id="navbar" class="navbar navbar-light sticky-top header">

  <a id="kco" class="navbar-brand kco" href="/">KCO</a>

  <ul class="nav nav-pills">
    <li class="nav-item mr-sm-5 {% if page.url == '/about.html' %} active {% endif %}">
      <a class="nav-link" href="/about">ABOUT</a>
    </li>
    <li class="nav-item mr-sm-5 {% if page.url == '/gallery.html' %} active {% endif %}">
      <a class="nav-link" href="/gallery">GALLERY</a>
    </li>
    <li class="nav-item mr-sm-5 {% if page.url == '/blog.html' %} active {% endif %}">
      <a class="nav-link" href="/blog">BLOG</a>
    </li>
    <li class="nav-item mr-sm-5 {% if page.url == '/contact.html' %} active {% endif %}">
      <a class="nav-link" href="/contact">CONTACT</a>
    </li>
  </ul>
</div>
