<div id="navbar" class="navbar navbar-light sticky-top header">

  <a id="kco" class="navbar-brand kco" href="#">KCO</a>

  <ul class="nav nav-pills">
    <li class="nav-item mr-sm-5">
      <a class="nav-link" href="#fat">ABOUT</a>
    </li>
    <li class="nav-item mr-sm-5">
      <a class="nav-link" href="#fat">GALLERY</a>
    </li>
    <li class="nav-item mr-sm-5">
      <a class="nav-link" href="#fat">BLOG</a>
    </li>
    <li class="nav-item mr-sm-5">
      <a class="nav-link" href="#fat">CONTACT</a>
    </li>
  </ul>
</div>
