<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/css/main.css" | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <div id="posts" class="container-fluid">
      <div class="row">
        <div class="col-sm-8 offset-sm-2">

          <div class="row mb-5">
            <h1>
              {{ page.title }}
            </h1>
          </div>
          <div class="row mb-5">
              {{ content }}
          </div>
        </div>
      </div>
      <div id="images" class="row pt-5 pb-5">
        <div class="col-sm-8 offset-sm-2">
          <div class="row">
            <div class="card-columns">
              {% for imageName in page.images %}
              {% assign image = site.data.images | where: "identifier", imageName | first %}

                <div class="card">
                  <img src="/images{{ image.path }}" class="card-img-top img-fluid">
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
